<div>
    <div class="cont">
        <div>
            <h2>Forgot Password</h2>
        </div>

        <!-- forgot page Form -->
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
            <div>
                <input type="email" placeholder="Email Here" formControlName="email" />
                <div
                    *ngIf="
                        !forgotForm.controls.email?.valid &&
                        (forgotForm.controls.email?.dirty || forgotForm.controls.email?.touched)
                    "
                >
                    {{ 'EMAIL_IS_REQUIRED' | translate }}
                </div>
            </div>
            <!-- Submit button -->
            <div>
                <input type="submit" value="Send Email" />
            </div>
        </form>
    </div>
</div>
