<section>
    <div>
        <div>
            <h1>{{ 'PORTFOLIO' | translate }}</h1>
            <p>
                {{ 'PORT_CONTENT' | translate }}
            </p>
        </div>
        <div class="image-cont">
            <img src="../../../../../assets/images/desktopImage.png" />
            <img src="../../../../../assets/images/screenImage.png" />
            <img src="../../../../../assets/images/codeImage.png" />
            <img src="../../../../../assets/images/desktopImage.png" />
            <img src="../../../../../assets/images/screenImage.png" />
            <img src="../../../../../assets/images/codeImage.png" />
        </div>
    </div>
</section>
