@import '../../../../../assets/themes/_mixins.scss';
@import '../../../../../assets/style/color.scss';
:host {
    > section {
        height: calc(100vh - 113px);
        max-width: calc(100% - 200px);
        margin-left: auto;
        overflow-y: auto;
        @include flex(center, center);
        @media screen and (max-width: 767px) {
            max-width: 100%;
            height: calc(100vh - 182px);
        }
        & > div {
            max-width: 1300px;
            width: 100%;
            margin: 0 auto;
            padding: 30px 15px;
            max-height: 100%;
            @media screen and (max-width: 991px) {
                overflow-y: auto;
            }
            h1 {
                @include h1Font;
                text-align: center;
                margin-bottom: 20px;
            }
            a {
                @include button($PRIMARY, $PureWhite, $INFO, $PureWhite);
            }
            p {
                text-align: center;
                @include fonts(20px);
                max-width: 700px;
                margin: 0 auto;
                margin-bottom: 30px;
            }
            .image-cont {
                @include flex(space-between, flex-start, wrap);
                img {
                    width: 50%;
                    padding: 20px;
                    height: 400px;
                    object-fit: cover;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        transform: scale(1.05);
                    }
                    @media screen and (max-width: 1024px) {
                        height: 350px;
                    }
                    @media screen and (min-width: 768px) and (max-width: 991px) {
                        width: 100%;
                        padding: 20px 0;
                        height: auto;
                    }
                    @media screen and (max-width: 575px) {
                        width: 100%;
                        height: auto;
                        padding: 20px 0;
                    }
                }
            }
        }
    }
}
