@import '../../../../assets/themes/_mixins.scss';
@import '../../../../assets/style/color.scss';
:host {
    background-color: inherit;
    > div {
        padding: 15px 0;
        width: 100%;
        max-width: 200px;
        background-color: inherit;
        position: fixed;
        top: 71px;
        height: calc(100vh - 112px);
        overflow-y: auto;
        border-right: 1px solid;
        @include flex(flex-start, flex-start, nowrap, column);
        @media screen and (max-width: 767px) {
            max-width: 100%;
            height: auto;
            flex-direction: unset;
            position: relative;
            border-bottom: 1px solid;
            border-right: none;
            top: 0;
        }
        a {
            display: block;
            padding: 16px;
            text-decoration: none;
            @media screen and (max-width: 767px) {
                padding: 10px;
            }
        }
    }
}
