/*
   * Implementation of themes
   */
@mixin themify($themes) {
    @each $theme, $map in $themes {
        .theme-#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge(
                    $theme-map,
                    (
                        $key: $value
                    )
                ) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}

@mixin fonts($fontSize, $fontWeight: normal, $lineHeight: normal) {
    font-size: $fontSize;
    @if $fontWeight != normal {
        font-weight: $fontWeight;
    }
    @if $lineHeight != normal {
        line-height: $lineHeight;
    }
}
@mixin flex($justify, $align, $wrap: nowrap, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    @if $wrap != nowrap {
        flex-wrap: $wrap;
    }
    @if $direction != row {
        flex-direction: $direction;
    }
}

@mixin h1Font {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 60px;
    text-transform: uppercase;
    @media screen and (max-width: 1024px) {
        font-size: 50px;
        margin-bottom: 40px;
    }
    @media screen and (max-width: 767px) {
        font-size: 40px;
        margin-bottom: 30px;
    }
    @media screen and (max-width: 499px) {
        font-size: 35px;
        margin-bottom: 25px;
    }
}

@mixin button($bgColor, $color, $bgHoverColor, $textHoverColor) {
    background-color: $bgColor;
    color: $color;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1.3px;
    display: inline-block;
    padding: 16px 40px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    &:hover {
        background-color: $bgHoverColor;
        color: $textHoverColor;
    }
}
