/*
 * Theme definitions
 */
@import '../style/color.scss';

$themes: (
    dark: (
        backgroundColor: $DARK,
        textColor: $LIGHT,
        border: $LIGHT,
        hover: $LIGHT
    ),
    light: (
        backgroundColor: $LIGHT,
        textColor: $WARNING,
        border: $LIGHT,
        hover: $DARK
    ),
    warning: (
        backgroundColor: $DANGER,
        textColor: $DARK,
        border: $DARK,
        hover: $PureWhite
    ),
    primary: (
        backgroundColor: $INFO,
        textColor: $DARK,
        border: $DARK,
        hover: $PureWhite
    )
);
